In [1]:
import pandas

In [2]:
import numpy

In [3]:
ocurrencies = pandas.read_csv('ocurrencies.csv')

In [4]:
ocurrencies.head()

,Unnamed: 0,id,machine_id,material_cost,service_cost,total_cost,description,created_at,time_stopped,category
0,0,209,24,0.0,0.0,0.0,tanque 3 água sanitária: prender,1614870043165,2.0,2.0
1,1,210,24,0.0,0.0,0.0,rede de água / água sanitária: trocar,1614953386829,2.0,2.0
2,2,211,20,0.0,0.0,0.0,tubulação do sem cloro: trocar registro 32 mm,1615406152935,5.0,2.0
3,3,212,1,0.0,0.0,0.0,embaladora de vela: regulagem,1605204968378,5.0,2.0
4,4,213,51,0.0,0.0,0.0,placa advertência prensa papelão: prender com ...,1605205111304,6.0,2.0

In [5]:
ocurrencies.columns

Index(['Unnamed: 0', 'id', 'machine_id', 'material_cost', 'service_cost',
       'total_cost', 'description', 'created_at', 'time_stopped', 'category'],
      dtype='object')

In [6]:
ocurrencies.drop(['Unnamed: 0', 
                  'machine_id', 
                  'material_cost', 
                  'service_cost',
                  'total_cost', 
                  'description', 
                  'created_at', 
                  'time_stopped'],
  axis='columns', inplace=True)

In [7]:
ocurrencies.head()

    id  category
0  209       2.0
1  210       2.0
2  211       2.0
3  212       2.0
4  213       2.0

In [8]:
ocurrencies.to_csv('categories_na_mon.csv')