In [2]:
import pandas

In [3]:
import numpy

In [4]:
# o banco de dados original nao possuia essa funcionalidade, fizemos esse campo artificialmente

In [5]:
# id, name, telefone, endereço

In [12]:
data = numpy.array(([["1", "Antônio de Souza", "(48) 99999-9999", "Rua João Albuquerde de Medeiros - 87, Criciúma"], 
                     ["2", "Roberta Cardoso", "(48) 99999-9999", "Rua Manuel José de Oliveira - 91, Içara"], 
                     ["3", "Roberval da Silva", "(48) 98888-8888", "Rua Dom Pedro II - 112, Gravatal"],
                     ["4", "Claudia Fernandes", "(48) 97777-7777", "Rua Maria Albuquerque de Souza - 132, Cocal do Sul"],
                     ["5", "Carlos Oliveira", "(48) 96666-6666", "Rua Queiros de Sá - 908, Braço do Norte"],
                     ["6", "Antônio de Souza", "(48) 94444-4444", "Rua Almirante de Ipirajá - 137, Urussanga"],]))

provider = pandas.DataFrame(data, columns=['id', 'name', 'phone', 'adress'])

In [13]:
provider

,id,name,phone,adress
0,1,Antônio de Souza,(48) 99999-9999,"Rua João Albuquerde de Medeiros - 87, Criciúma"
1,2,Roberta Cardoso,(48) 99999-9999,"Rua Manuel José de Oliveira - 91, Içara"
2,3,Roberval da Silva,(48) 98888-8888,"Rua Dom Pedro II - 112, Gravatal"
3,4,Claudia Fernandes,(48) 97777-7777,"Rua Maria Albuquerque de Souza - 132, Cocal do..."
4,5,Carlos Oliveira,(48) 96666-6666,"Rua Queiros de Sá - 908, Braço do Norte"
5,6,Antônio de Souza,(48) 94444-4444,"Rua Almirante de Ipirajá - 137, Urussanga"