In [1]:
import pandas

In [12]:
services = pandas.read_csv("service.csv")

In [5]:
services.columns

Index(['id', 'description', 'price', 'notes', 'created_at'], dtype='object')

In [13]:
services.drop(['notes', 
               'created_at',
               'price'],
  axis='columns', inplace=True)

In [14]:
services.head()

   id                                   description
0   1                                   Mao De Obra
1   2  Parafuso Phillips Inox Rosca Postica 4x20 Mm
2   3                            Usinagem Terceiros
3   4                     Chapa Tecnil Sobre Medida
4   5                   Metalon 20x1.5 mm Aço 1020.