In [1]:
import pandas

In [2]:
machines = pandas.read_csv("customer.csv")

In [3]:
machines.columns

Index(['id', 'person_type', 'company_name', 'trade_name', 'cnpj_cpf', 'ie',
       'notes', 'created_at', 'phone', 'mobile', 'email', 'address',
       'address_number', 'district', 'complement', 'zip', 'city_id'],
      dtype='object')

In [4]:
machines.drop(['person_type', 
               'trade_name', 
               'cnpj_cpf', 
               'ie',
               'notes', 
               'created_at', 
               'phone', 
               'mobile', 
               'email', 
               'address',
               'address_number', 
               'district', 
               'complement', 
               'zip', 
               'city_id'],
  axis='columns', inplace=True)

In [7]:
machines.columns = ["id", "name"]

In [8]:
machines.head()

   id                       name
0   1     Plastificadora De Vela
1   2        Envasadora Agua 2 L
2   3        Envasadora Agua 1 L
3   4        Envasadora Agua 5 L
4   5  Compressor Agua Sanitaria