In [1]:
import pandas

In [2]:
material_conective = pandas.read_csv("service_order_item.csv")

In [3]:
material_conective.columns

Index(['id', 'service_order_id', 'product_id', 'service_id', 'price',
       'quantity', 'amount'],
      dtype='object')

In [4]:
material_conective.drop(['id',
                         'service_id',
                         'price',
                         'quantity'],
  axis='columns', inplace=True)

In [5]:
# agora finalizamos mudando o nome das colunas para os pr√© estabelecidos

In [6]:
material_conective.columns = ["service_order_id", "material_id", "amout"]

In [7]:
material_conective.head()

   service_order_id  material_id  amout
0                 2          NaN  104.0
1                 1          NaN   52.0
2                 1          1.0   87.0
3                 1          3.0  151.0
4                 1          4.0    1.5