In [18]:
import pandas

In [15]:
import numpy

In [1]:
import random

In [2]:
services_connective = pandas.read_csv("service_order_item.csv")
aux = pandas.read_csv("service.csv")

In [3]:
aux.columns

Index(['id', 'description', 'price', 'notes', 'created_at'], dtype='object')

In [4]:
services_connective.columns

Index(['id', 'service_order_id', 'product_id', 'service_id', 'price',
       'quantity', 'amount'],
      dtype='object')

In [5]:
aux.drop(['created_at',
          'price',
          'notes',
          'created_at'],
  axis='columns', inplace=True)

In [6]:
services_connective.drop(['id', 
                          'product_id', 
                          'price',
                          'quantity'],
  axis='columns', inplace=True)

In [7]:
services_connective

     service_order_id  service_id  amount
0                   2         1.0  104.00
1                   1         1.0   52.00
2                   1         NaN   87.00
3                   1         NaN  151.00
4                   1         NaN    1.50
..                ...         ...     ...
259               578         NaN    0.03
260               578         NaN    0.01
261               578         1.0    0.03
262               579         1.0    0.01
263               576         NaN   22.50

[264 rows x 3 columns]

In [8]:
aux

    id                                   description
0    1                                   Mao De Obra
1    2  Parafuso Phillips Inox Rosca Postica 4x20 Mm
2    3                            Usinagem Terceiros
3    4                     Chapa Tecnil Sobre Medida
4    5                   Metalon 20x1.5 mm Aço 1020.
5    6                        Parafuso Estojo 6x10mm
6    7                                   Limpa Fossa
7    8       Revestimento Em Fibra Tanque De Retorno
8    9              Afiar Navalhas De Corte De Fita.
9   10                         Mão De Obra Terceiros
10  11                            Serviço Eletrônica
11  12                       serviço usinagem em PVC
12  13                              usinagem em inox
13  14                       serviço / corte / dobra

In [ ]:
# trocando ids por seus valores

In [15]:
for i in range(len(services_connective)):
    for j in range(len(aux)):
        if services_connective["service_id"][i] == float(aux["id"][j]):
            services_connective["service_id"][i] = aux["description"][j]
            break

C:\Users\lucas\AppData\Local\Temp/ipykernel_6544/218852747.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  services_connective["service_id"][i] = aux["description"][j]
C:\Users\lucas\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [32]:
# pra substituir as entradas (de forma melhor)): 
# https://datascientyst.com/replace-values-column-based-another-dataframe-pandas/

In [34]:
services_connective

     service_order_id   service_id  amount
0                   2  Mao De Obra  104.00
1                   1  Mao De Obra   52.00
2                   1          NaN   87.00
3                   1          NaN  151.00
4                   1          NaN    1.50
..                ...          ...     ...
259               578          NaN    0.03
260               578          NaN    0.01
261               578  Mao De Obra    0.03
262               579  Mao De Obra    0.01
263               576          NaN   22.50

[264 rows x 3 columns]

In [27]:
random_list = []
for i in range(0,264):
    n = random.randint(1,6)
    random_list.append(n)

In [29]:
aux2 = pandas.DataFrame(numpy.array(random_list),
                   columns=['provider_id'])

In [30]:
aux2

     provider_id
0              4
1              5
2              5
3              1
4              2
..           ...
259            2
260            1
261            4
262            6
263            5

[264 rows x 1 columns]

In [31]:
services_connective = pandas.concat([services_connective ,aux2])

NameError: name 'services_connective' is not defined