In [1]:
import pandas

In [10]:
services = pandas.read_csv("service.csv")

In [5]:
services.columns

Index(['id', 'description', 'price', 'notes', 'created_at'], dtype='object')

In [11]:
services.drop(['notes', 
               'created_at',
               'price'],
  axis='columns', inplace=True)

In [8]:
services.head()

                                    description  price
0                                   Mao De Obra   0.01
1  Parafuso Phillips Inox Rosca Postica 4x20 Mm   0.80
2                            Usinagem Terceiros  40.00
3                     Chapa Tecnil Sobre Medida  50.00
4                   Metalon 20x1.5 mm Aço 1020.   6.80